<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.metrics.doc"
   name="Metrics documentation Plug-in"
   version="3.1.0"
   provider-name="">
   <requires>
      <import plugin="org.eclipse.help"/>
   </requires>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true"/>
      <toc file="tocconcepts.xml"/>
      <toc file="tocgettingstarted.xml"/>
      <toc file="tocreference.xml"/>
      <toc file="tocsamples.xml"/>
      <toc file="toctasks.xml"/>
   </extension>

</plugin>
