<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.metrics.persistence.berkeleydb"
   name="Metrics Berkeleydb Plug-in"
   version="3.1.0"
   provider-name="Volantec.biz"
   class="net.sourceforge.metrics.persistence.berkeleydb.BerkeleydbPlugin">

   <runtime>
      <library name="berkeleydb.jar">
         <export name="*"/>
      </library>
      <library name="lib/bdb.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="net.sourceforge.metrics.core"/>
      <import plugin="org.eclipse.jdt.core"/>
   </requires>
   <extension
         point="net.sourceforge.metrics.core.database">
      <store
            class="net.sourceforge.metrics.persistence.berkeleydb.BDBStore"
            name="berkeleydb metrics store"
            primary="true"/>
   </extension>

</plugin>
