<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="net.sourceforge.metrics.tests"
   name="Metrics Unit Tests Plug-in"
   version="3.1.0"
   provider-name="">

   <runtime>
      <library name="metricstests.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.junit"/>
      <import plugin="net.sourceforge.metrics.core"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="net.sourceforge.metrics.persistence.berkeleydb"/>
   </requires>
   <!--
   Test contributes some fake calculators, categories and metrics for unit testing purposes.
   See TestMetricsExtensionReader class. Note that all id attributes use simple values, but
   the extension reader prepends the namespace (plugin id) to them, so references must use 
   the absolute id. See how for example below the metrics refer to 
   
   		net.sourceforge.metrics.tests.category.basic 
   		
   as their category, whereas the category definition itself only specifies 
   
   		category.basic. 
   		
   This follows the normal Eclipse patterns of extension id naming.
   -->
   <extension
         point="net.sourceforge.metrics.core.calculators">
      <category
            description="This is a category containing test metrics only, for use in the Unit Tests for the metrics plugin"
            id="category.basic"
            name="Basic Metrics for Unit Test"/>
      <calculator
            calculatorClass="net.sourceforge.metrics.tests.MockCalculator"
            id="testcalculator1"
            level="method"
            name="Test Calculator">
         <metric
               category="net.sourceforge.metrics.tests.category.basic"
               id="mloc" 
               name="Method Lines of Code"
               description = "Counts real lines of code (no comments or empty lines) in a method body"
               propagateAvg="true"
               propagateMax="true"
               propagateSum="false">
            <range
                  hint="Split the method up"
                  max="50.0"/>
         </metric>
         <metric
               category="net.sourceforge.metrics.tests.category.basic"
               id="loc"
               name="Comment Lines"
               description="Counts the number of comment lines in a method"
               propagateAvg="true"
               propagateMax="true"
               propagateSum="true"/>
      </calculator>
      <category
            description="Much more complicated stuff here"
            id="category.advanced"
            name="Advanced Test Metrics"/>
   </extension>
   <extension
         point="net.sourceforge.metrics.core.database">
      <store
            class="net.sourceforge.metrics.tests.MockMetricStore"
            name="In memory Test DB"
            primary="true"/>
   </extension>
   <extension
         point="net.sourceforge.metrics.core.database">
      <store
            class="net.sourceforge.metrics.tests.MockMetricStore"
            name="Secondary Test DB"
            primary="false"/>
   </extension>

</plugin>
